* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px 50px 50px 50px;
    align-items: center;
    align-content: center;
}

div.select-center {
    width: 50%;
    margin: 0 15% 0 15%;
    align-items: center;
    align-content: center;

    &form.label {
        align-items: center;
        align-content: center;
        color: blue;
    }

}