<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
    <div class="container-fluid">
        <a class="navbar-brand nav-link" target="_blank" href="">
            <strong>BJA</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">

                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/posts']" rel="" target="_blank">Posts
                        <i class="fa-regular fa-file-lines"></i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/nuevo']" rel="" target="_blank">Nuevo post
                        <i class="fa-regular fa-clipboard">
                        </i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="" rel="" target="_blank">Login
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="" rel="" target="_blank">Logout
                        <i class="fa fa-sign-in"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>