<main class="mt-5">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4" *ngIf="arrPosts.length > 0">
                    <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init
                        data-mdb-ripple-color="light">
                        <img [src]="arrPosts[0].imagen" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>


                <div class="col-md-6 gx-5 mb-4" *ngIf="arrPosts.length > 0">
                    <h4><strong>{{ arrPosts[0].titulo }}</strong></h4>
                    <p class="text-muted">{{ arrPosts[0].categoria }}</p>
                    <p class="text-muted">{{ arrPosts[0].texto }}</p>
                    <p><strong>{{ arrPosts[0].autor }}</strong></p>

                    <div class="d-flex">
                        <input type="submit" value="Leer más" class="btn btn-primary bg">
                    </div>
                </div>

            </div>
        </section>

        <hr>

        <div class="container text-left">
            <div class="row">
                @for (post of arrPosts; track $index) {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src={{post.imagen}} class="card-img-top fixed-img-size" alt="...">
                        <p class="card-text mx-auto pt-5" [ngClass]="getCategoryClass(post.categoria)">{{post.categoria
                            |
                            titlecase}} </p>
                        <div class="card-body">
                            <h4 class="card-title p-3">{{post.titulo}}</h4>
                            <p class="card-text p-3">{{post.texto}}</p>
                            <small class="text-muted p-3">Por {{post.autor}}, {{post.fecha | date:
                                'dd/MM/yyyy'}}</small>
                            <hr>

                            <div class="d-flex">
                                <input type="submit" value="Leer más" class="btn btn-primary bg">
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</main>